$cyan: #60daaa;
$yellow: #fbca67;
$orange: #ff8a30;
$red: #f45e61;
$purple: #6477b9;
$blue: #0eb7da;

#resume-panel {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 30vh;
}

.resume-icon-container {
  border: 1px solid lightgrey;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  transition: 0.4s ease-in-out;
  &:hover {
    background-color: ivory;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
  }
  
  .resume-icon {
    font-size: 3.5rem;
    text-decoration: none;
  }
  .resume-icon-link {
    text-decoration: none;
  }
  
  .resume-link-title {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.75rem sans-serif;
    font-weight: bold;
    color: #446;
  }

}

.skill {
  transition: transform 0.75s ease-in-out;
}
.skill:hover {
  transform: rotate(360deg);
}

@media (max-width: 767px) {
  .resume-link-title {
    font-size: .8rem;
  }
  
  .resume-icon {
    font-size: .8rem;
    text-decoration: none;
  }

}